.feynman__link {
  color: #2f80ed;
  display: flex;
  top: 50%;
  right: 48px;
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  z-index: 2;
  font-weight: normal;
  text-decoration: none;
}

.feynman__link:hover {
  opacity: .7;
}